<mat-nav-list>

  <a mat-list-item routerLink="/login" routerLinkActive="active" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>

  <a mat-list-item routerLink="/signup" routerLinkActive="active" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>

  <a mat-list-item routerLink="/welcome" routerLinkActive="active" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Home</span>
  </a>

  <a mat-list-item routerLink="/training" routerLinkActive="active" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Training</span>
  </a>

  <a mat-list-item routerLink="/workouts" routerLinkActive="active" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Workouts</span>
  </a>

  <a mat-list-item routerLink="/dashboard" routerLinkActive="active" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Dashboard</span>
  </a>


  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Notifications</span>
    <span matBadge="4" matBadgeOverlap="false"></span>
  </a>

  <a mat-list-item routerLink="/settings" routerLinkActive="active" (click)="onClose()"*ngIf="isAuth">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Settings</span>
  </a>

</mat-nav-list>
