<!-- <div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h1>ACTIVITY</h1>
    <p>Stay active and enjoy better health and more fun!</p>
  </section>

  <section>
    <h1>COMMUNITY</h1>
    <p>Get to know other people who share your passion!</p>
  </section>

  <section>
    <h1>CHALLENGES</h1>
    <p>Never stop! Dive into new challenges every day</p>
  </section>
</div> -->


<div class="home">
  <mat-card>
      <mat-card-title>Angular Material</mat-card-title>
      <mat-card-subtitle>
        Material design component library
      </mat-card-subtitle>
      <mat-card-actions>

        <a mat-raised-button  href="" target="_blank">
          <i class="fa fa-book fa-lg"></i> Docs
        </a>
        <a mat-raised-button  href="" target="_blank">
          <i class="fa fa-github fa-lg"></i> Github
        </a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-title>Angular Cli</mat-card-title>
        <mat-card-subtitle>
          Responsive layout from battle tested, world most famous UI library
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-raised-button  href="#" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
          <a mat-raised-button  href="#" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card>
          <mat-card-title>ngRx</mat-card-title>
          <mat-card-subtitle>
            One way data flow powered by RxJS Observables
          </mat-card-subtitle>
          <mat-card-actions>
            <a mat-raised-button  href="#" target="_blank">
              <i class="fa fa-github fa-lg"></i> Github
            </a>
            <a mat-raised-button  href="#" target="_blank">
              <i class="fa fa-code fa-lg"></i> Testing
            </a>
          </mat-card-actions>
        </mat-card>

          <mat-card>
            <mat-card-title>RxJS</mat-card-title>
            <mat-card-subtitle>
              Reactive programming with async collections using Observables.
            </mat-card-subtitle>
            <mat-card-actions>
              <a mat-raised-button href="#" target="_blank">
                <i class="fa fa-book fa-lg"></i> Docs
              </a>
              <a mat-raised-button  href="#" target="_blank">
                <i class="fa fa-github fa-lg"></i> Github
              </a>
            </mat-card-actions>
          </mat-card>


          <mat-card>
            <mat-card-title><code>this is TESTT</code>Bootstrap</mat-card-title>
            <mat-card-subtitle>
              Responsive layout from battle tested, world most famous UI library
            </mat-card-subtitle>
            <mat-card-actions>
              <a mat-raised-button  href="#" target="_blank">
                <i class="fa fa-book fa-lg"></i> Docs
              </a>
              <a mat-raised-button  href="#" target="_blank">
                <i class="fa fa-github fa-lg"></i> Github
              </a>
            </mat-card-actions>
          </mat-card>

          <mat-card>
              <mat-card-title>Themes</mat-card-title>
              <mat-card-subtitle>Flexible theming support for provided and custom components</mat-card-subtitle>
              <mat-card-actions>
                <a mat-raised-button  href="#" target="_blank">
                  <i class="fa fa-book fa-lg"></i> Docs
                </a>
                <a mat-raised-button  href="#" target="_blank">
                  <i class="fa fa-medium fa-lg"></i> Blog
                </a>
              </mat-card-actions>
          </mat-card>
</div>
