
.dashboard {
  // margin-top: 40px;

  background: #fff url('/assets/img/drag-and-drop.jpg');
  background-size: cover;

  app-widget-container {
    &:first-child {
      margin-top: 20px;
    }
  }
}
