
<div class="settings">

    <mat-card>
        <mat-card-title>settings works!l</mat-card-title>

        <mat-card-subtitle>
          Material design component library
        </mat-card-subtitle>

        <mat-card-content>

            <mat-slide-toggle>Slide me!</mat-slide-toggle>

            <mat-slide-toggle>Slide me!</mat-slide-toggle>

            <mat-slider></mat-slider>

            <mat-radio-group>
              <mat-radio-button value="1">Option 1</mat-radio-button>
              <mat-radio-button value="2">Option 2</mat-radio-button>
            </mat-radio-group>

        </mat-card-content>

        <img mat-card-image src="../assets/img/profile-sm.jpg" alt="Photo ">


    </mat-card>

</div>
