
.settings {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  // justify-content: center;
  margin: 0 auto;

  mat-card {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    // min-height: 500px;

    mat-card-content {
      display: flex;
      flex-direction: column;
    }
  }
}
